	
body {
	margin:auto;
	padding: 0px;
	background-color: #ffffff;
	line-height: 25px;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
	transition: 1.5;
	font-family: "Poppins", sans-serif;
	color: #454545;
	position: relative;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: #ffffff;
}
a, button, img, input, span {
	transition: all 0.3s ease 0s;
}
a:hover,a:focus{
	text-decoration: none;
	outline: none;
	color: #999999;
}
ul,li{
	list-style: none;
}
img{
	max-width: 100%;
	display: block;
	vertical-align: middle;
}
/* home background */
#home{
	height: 80vh;
}
header{
	position: relative;
}
.text-blue{
	color:#6195FF;
}
.bg-img{
	background-image: url('../images/contactUs.jpg');
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.bg-img .overlay{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	background: #1C1D21;
}
/* end home background */
.container li{
	list-style: none;
	display: inline-block;
}
/* NAVBAR*/
#nav{
	transition: 0.5s;
}
#nav .nav-transparent {
	background: transparent;
}
#nav .nav-transparent:not(.fixed-nav) .navbar-brand .logo{
	display: none;
}
.navbar-brand .logo, .navbar-brand .logo-alt {
	max-height: 50px;
	display: block;
}
.navbar-right li{
	padding: 10px;
}
.navbar-right a{
	padding: 3px;
}
.navbar-right a:hover{
	border-bottom: 2px solid #6195FF;
	transition:0.2s; 
}
.navbar-logo{
	height: 40px;
}
.dropdown-menu{
	background-color: #6195FF;
	width: 200px;
	padding: 10px;
}
.dropdown-menu a:hover{
	color: #ffffff;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.navbar-right .active{
	border-bottom: 2px solid #6195FF;
}
/*END NAVBAR*/

/*HOME CONTENT*/
.home-content{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	text-align: center;
}
.home-content button{
	margin-top: 20px;
}
header .row{
	color: #ffffff;
}
.white-btn{
	color: #000000;
	background: #ffffff;
}
.blue-btn{
	color: #ffffff;
	background: #6195FF;
}
.blue-btn:hover{
	color: #6195FF;
	background: black;
	opacity:0.8;
	border:1px solid #6195FF;
}
	
.white-btn, .blue-btn{
	margin: 3px;
	padding: 10px 30px;
	border-radius: 5px;
	display: inline-block;
	border:2px solid transparent;
}
.white-btn:hover{
	background: #ddd;
}
.owl-carousel .owl-nav button.owl-prev {
	top: 40%;
	left: -8px;
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/left-arrow-round.svg)no-repeat;
	background-size: 50px;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
}
.owl-carousel .owl-nav button.owl-next{
	position: absolute;
	top:40%;
	right: -7px;
	width: 50px;
	height: 50px;
	background: url(../images/right-arrow-round.svg)no-repeat;
	background-size: 50px;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
}
.owl-carousel .owl-nav button.owl-next span{
	visibility: hidden;
}
.owl-carousel .owl-nav button.owl-prev span{
	visibility: hidden;
}
.container-carousel{
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #6195ff;
}

.container-carousel:hover .overlay-img {
	opacity: 1;
}

.img-text {
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 10px;
	padding: 10px;
	margin-top: 15%;
}
/*.tilesbanner-img{
	background-image: url(../images/tilesbanner.png); 
}*/
/*END HOME CONTENT */

/*ABOUT*/
.md-padding{
	padding: 100px 0px;
}
.section-header{
	position: relative;
	margin-bottom: 20px;
}
.text-center{
	text-align: center;
}
.title:after{
	content: "";
	display: block;
	height: 4px;
	width: 50px;
	background-color: #6195FF;
	margin:20px auto 0;
}
.about{
	text-align: center;
	padding: 40px 20px;
}
.about a{
	color: #6195FF;
}
.about i{
	font-size: 30px;
	color: #6195FF;
	margin-bottom: 20px;
}
.about p{
	color: #999999;
}
.about .abt-overlay{
	background-color: #000000;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	z-index: -1;
	display: none;
	transition:width 2s;
}
.about:hover .abt-overlay{
	display: block;
	width: 100%;

}
/*END ABOUT*/

/*PORTFOLIO*/
.bg-gray{
	background-color: #fafafa;
}
.work{
	position: relative;
	padding: 20px;
}
.work > img{
	width: 100%;
}
.work .overlay{
	background: #000000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0;
	transition: 0.2s opacity;
	transition-delay: 0.2s;
	display: none;
}
.work:hover .overlay{
	display: block;
}
.header-text{
	font-size: 54px; 
	text-transform: uppercase; 
	padding-bottom: 10px;
}
.form-button{
	background-color: #6195ff;
	color: white;
}
.contact-us-form{
	box-shadow: 0px 10px 20px #cccccc;
}
.chooseUs-box{
	background-color: #f7f7f7;
}
.chooseUs-box1{
	background-color: #ededed;
}
.prettydropdown >ul{
	border-radius: 7px;
}
.owl-dots{
	display: none;
}
.imgheight-company{
	height: 400px;
}
#home-company{
	height: 60vh;
}
/*CompanyProfile Css Start*/
.title-wrapper{
	float: left;
	margin-bottom: 60px;
	text-align: center;
	width: 100%;
}
.owl-nav button:focus
{
	outline: none !important;
}
.title-inner {
	display: inline-block;
}
.title-inner span{
	color: #ec008c;
	display: block;
	float: left;
	font-family: poppins;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.4px;
	margin-bottom: 15px;
	width: 100%;
}
.title-inner{
	color: #ec008c;
}
.title-inner h4{
	color: #404040;
	float: left;
	font-size: 26px;
	margin: 0 0 20px;
	text-transform: uppercase;
	width: 100%;
}
.title-inner p{
	color: #555;
	float: left;
	font-size: 17px;
	font-style: italic;
	line-height: 30px;
	margin-bottom: 0;
	width: 100%;
}
.section-title h2::before {
	position: absolute;
	content: '';
	background: #6195FF;
	height: 2px;
	width: 120px;
	left: 50%;
	bottom: 1px;
	transform: translate(-50%, 0%);
}
.title-2 h2::before {
	position: absolute;
	content: '';
	background: #6195FF;
	height: 2px;
	width: 120px;
	left: 0%;
	bottom: 0;
	transform: translate(0%, 0%);
}
.size{
	font-size: 36px;
}
.agency-benefits .content p {
	font-size: 16px;
	margin-top: 30px;
}
.btn.btn-circle {
	border-radius: 50px;
}
.img-companyvideo{
	max-width: 100%;
	display: block;
	vertical-align: middle;
}
.btn-company {
	border: 1px solid #6195FF;
	line-height: 24px;
	padding: 10px 30px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background: #6195ff;
	overflow: hidden;
	position: relative;
	z-index: 1;
	transition: all 0.3s ease 0s;
	margin-top:30px;
}
.btn-company:hover{
	background-color: #1d2736;
    border-color: #1d2736;
    color: #ffffff;
}
.btn-company::before {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 100%;
    background-color: #1d2736;
    transition: all 0.3s ease 0s;
    content: "";
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    opacity: 0;
    z-index: -1;
}
.btn-company:hover::before {
    height: 300%;
    opacity: 1;
}
.title-2 {
	margin-bottom: 30px;
}
.section-title {
	margin-bottom: 55px;
}
.agency-benefits .content h2 {
	font-weight: 600;
	line-height: 50px;
}
.agency-benefits .section-title h2 {
	padding-bottom: 20px;
}
.section-title h2 {
	font-weight: 700;
	margin: -5px 0 0 0;
	position: relative;
	padding-bottom: 12px;
}
.section-title h2::after {
	position: absolute;
	content: '';
	background: #333;
	height: 4px;
	width: 20px;
	left: 50%;
	bottom: 0;
	margin-top: 1px;
	transform: translate(-50%, 0%);
}
.title-2 h2::after {
	position: absolute;
	content: '';
	background: #333;
	height: 2px;
	width: 60px;
	left: 0%;
	bottom: 0;
	transform: translate(0%, 0%);
}
.section-pt {
	padding-top: 100px;
}
.agency-thumb .thumb .play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.agency-thumb .thumb .play-btn a {
	border: 0 none;
	background: #6195ff;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	padding: 0;
	font-size: 28px;
	color: #ffffff;
	display: inline-block;
	line-height: 100px;
	text-align: center;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.section-pb {
	padding-bottom: 120px;
}
.bg-gray {
	background-color: #f8f8f8;
}
.section-pb-90 {
	padding-bottom: 90px;
}
.section-title.text-center p {
	margin-left: auto;
	margin-right: auto;
}
.section-title p {
	max-width: 470px;
	margin-top: 16px;
	margin-bottom: 0;
}
.imgsize-product{
	height: 300px;
}

.service-2 .content h4 {
	color: #575757;
	font-size: 22px;
	line-height: 30px; 
	margin-bottom: 13px;
	padding: 0 9px;
}
.service-2 .content h4 a {
	color: #575757;
}
.service-2 .content h4 a:hover {
	color: #6195FF;
}
.service-2.cleaning-service .content {
	padding: 30px 20px;
}
.service-2 .content {
	padding-top: 30px;
}
.service-2.padding-none {
	padding: 0;
}
.service-2 {
	background: #ffffff;
	padding: 30px;
	transition: 0.4s ease-in-out;
}
.mb-30 {
	margin-bottom: 30px;
}
.service-2.cleaning-service .content p {
	margin-bottom: 8px;
}
.service-2 .content p {
	color: #818181;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 35px;
}
.service-2 .content a.readmore_btn.btn-transparent {
	border: 0 none;
	width: inherit;
	height: inherit;
	color: #3f3f3f;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}
.service-2 .content a.readmore_btn {
	height: 42px;
	border: 1px solid #0056ff;
	display: inline-block;
	padding: 0 42px;
	line-height: 40px;
	font-size: 14px;
	border-radius: 30px;
	color: #0056ff;
	font-weight: 600;
	transition: 0.5s;
}
.service-2 .content a.readmore_btn.btn-transparent:hover {
	color: #6195FF;
	background: transparent;
}
.section-ptb {
	padding: 120px 0;
}
.align-items-center {
	-ms-flex-align: center!important;
	-webkit-box-align: center!important;
	align-items: center!important;
}
.mt-20 {
	margin-top: 20px;
}
.choose-resone-inner p {
	max-width: 530px;
	font-size: 16px;
	margin-bottom: 25px;
}
.service-6.reapir-service {
	margin-top: 12px;
}
.service-6 {
	margin-top: 12px;
}
.mt-30 {
	margin-top: 30px;
}
.service-6.reapir-service .icons {
	border: 0 none;
	width: auto;
	height: auto;
	line-height: inherit;
	border-radius: inherit;
	float: left;
	text-align: center;
	margin-right: 22px;
	margin-top: 10px;
}
.service-6 .icons {
	border: 1px solid #4e89fb;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 100%;
	float: left;
	text-align: center;
	margin-right: 22px;
	margin-top: 10px;
}
.service-6 .content {
	overflow: hidden;
}
.service-6.reapir-service .content h4 {
	color: #3d3d3d;
}
.service-6 .content h4 {
	color: #5f5f5f;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 7px;
}
.service-6.reapir-service .content p {
	font-size: 16px;
	line-height: 30px;
	color: #585757;
	max-width: 390px;
}
.service-6 .content p {
	font-size: 14px;
	line-height: 25px;
	color: #5b5b5b;
}
.choose-resone-inner p {
	max-width: 530px;
	font-size: 16px;
	margin-bottom: 25px;
}
.contact_form_container.repair-request-form {
	background: #f4f4f4;
}
.contact_form_container {
	padding: 65px 60px;
}
.contact_form_container.repair-request-form .ct-title-2 {
	text-align: center;
}
.contact_form_container.repair-request-form .ct-title-2 h2 {
	font-weight: 600;
	color: #3d3d3d;
	font-size: 30px;
}
.contact-btn:hover{
	color: white;
}
.contact-btn:focus{
	color: white;
}
.repair-service-form form input {
	margin-top: 30px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-weight: 300;
	padding: 0 20px;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	border: 1px solid #e1e1e1;
	background: #ffffff;
	color: #707070;
}
.repair-service-form form textarea {
	margin-top: 30px;
	min-height: 145px;
	width: 100%;
	border: 1px solid #fff;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	border: 1px solid #e1e1e1;
	color: #707070;
	background: #ffffff;
}
textarea {
	overflow: auto;
	resize: vertical;
}
.repair-service-form form input[type="submit"] {
	background: #fff;
	height: 55px;
	line-height: 56px;
	border: 0 none;
	padding: 0 30px;
	color: #0056ff;
	font-weight: 600;
	width: auto;
	transition: 0.5s;
	color: #ffffff;
	width: 100%;
	background: #6195FF;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
button, input[type="submit"] {
	cursor: pointer;
}
.bg-overlay {
    position: relative;
}
.bg_image {
    background: url(../images/newsshelter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-overlay::before {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    width: 100%;
}
.newsletter-style-2 .title h4 {
    color: #ffffff;
    font-weight: 500;
}
h4 {
    font-size: 24px;
    line-height: 30px;
}
.newsletter-style-2 .title h2 {
    color: #ffffff;
    font-weight: 500;
    margin: 0;
    font-weight: 600;
}
h2 {
    font-size: 36px;
    line-height: 42px;
}
.newsletter-style-2 .input-box {
    position: relative;
}
.newsletter-style-2 .input-box input {
    background-color: transparent;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    line-height: 24px;
    padding: 12px 30px;
    font-size: 14px;
    color: #d8d8d8;
    width: calc(100% - 190px);
    font-style: italic;
}
.newsletter-style-2.political-newsletter .input-box button {
    background-color: #6195FF;
}
.newsletter-style-2 .input-box button {
    position: absolute;
    right: 0;
    top: 0;
    width: 170px;
    height: 50px;
    background-color: #0056ff;
    border: none;
    border-radius: 5px;
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    transition: 0.4s;
    font-weight: 600;
}
.team {
    overflow: hidden;
}
.team .thumb {
    position: relative;
    overflow: hidden;
}
.team .thumb a {
    display: block;
}
.team .thumb a img {
    transition: 0.5s;
}
.team .thumb a img {
    width: 100%;
}
img {
    max-width: 100%;
}
.team .team-info {
    background: #fff;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.team:hover .thumb a img {
    transform: scale(1.2) rotate(5deg);
}
.team .team-info .content {
    padding: 20px 18px;
}
.team .team-info .content h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}
.team .team-info .content h4 a {
    color: #343434;
}
.team .team-info .content span {
    color: #343434;
    font-size: 14px;
    font-weight: 400;
}
.team .team-info .social-network {
    padding: 14px 0;
    border-top: 2px solid #f4f4f4;
}
.team ul.social-network {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.social-net-2 {
    margin-bottom: 8px;
}
.social-net-2 li {
    margin: 0 10px;
}
.team:hover .team-info {
    background: #6195ff;
}
.team:hover .team-info h4 a {
    color: #ffffff;
}
.team:hover .team-info .content span {
   color:#ffffff;
}
.team:hover .team-info .social-net-2 li a {
   color:#ffffff;
}
.social-net-2 li a {
    color: #18012c;
    font-size: 14px;
    display: block;
    background: transparent;
}
.facebook {
    background-color: #3B5997;
    color: #ffffff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.testimonial-grid-2 {
    padding: 15px 10px;
}
.testimonial-grid-3 {
    padding: 40px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 .testimonal img {
    float: left;
    max-width: 90px;
    border-radius: 50%;
    border: 1px solid #6195ff;
    box-sizing: content-box;
}
 .testimonal .content {
    overflow: hidden;
    padding-left: 20px;
}
 .testimonal .content p {
    color: #3e3e3e;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 28px;
}
 .testimonal .content .clint-info {
    padding-left: 50px;
    position: relative;
}
 .testimonal .content .clint-info::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background: #383838;
    left: 0;
    top: 4px;
}
.testimonal .content .clint-info h4 {
    font-weight: 600;
    font-size: 16px;
    color: #383838;
    margin-bottom: 2px;
}
 .testimonal .content .clint-info span {
    color: #383838;
    font-size: 14px;
}
.row-service-wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    background: #EDEDED;
}
.service-6.medical-service {
    background: #f7f7f7;
    margin-top: 0;
    padding: 50px 69px;
}

.service-6.medical-service .icons {
    border: 1px solid transparent;
    width: auto;
    height: auto;
    line-height: inherit;
    border-radius: inherit;
    float: left;
    text-align: center;
    margin-right: 25px;
    margin-top: 10px;
    max-width: 60px;
}
.service-6 .icons {
    border: 1px solid #4e89fb;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100%;
    float: left;
    text-align: center;
    margin-right: 22px;
    margin-top: 10px;
}
.service-6.medical-service .content {
    overflow: hidden;
}
.service-6.medical-service .content h4 {
    font-family: : "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
    font-weight: 600;
}
.service-6 .content h4 {
    color: #5f5f5f;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
}
.service-6.medical-service .content p {
    font-size: 14px;
    line-height: 26px;
    font-family: : "Montserrat", sans-serif;
}
.service-6 .content p {
    font-size: 14px;
    line-height: 25px;
    color: #5b5b5b;
}
.service-6.medical-service.service-bg-2 {
    background: #ededed;
}
/*CompanyProfile Css End*/
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{
	.header-text{
		font-size: 40px;
	}

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{



}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{
	.section-pb {
		padding-bottom: 80px;
	}

	.section-pb {
		padding-bottom: 80px;
	}
	.section-ptb {
		padding: 80px 0;
	}

.section-pb {
    padding-bottom: 80px;
}
.section-ptb {
    padding: 80px 0;
}
.section-pb-90 {
    padding-bottom: 60px;
}
.section-pt {
    padding-top: 80px;
}
.service-6.medical-service {
    padding: 30px 20px;
}
.service-6.medical-service .icons {
    max-width: 45px;
    margin-right: 15px;
}


}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{
.service-6.medical-service {
    padding: 30px 20px;
}
}